@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #003049;
  --color-secondary: #fdf0d5;
  --color-tertiary: #669bbc;
  --color-accent: #e83541;
  --font-primary: "Instrument Serif", serif;
  --font-heading: "Boldonse", sans-serif;
}

html.dark .logo-dark {
    display: block;
}

html.dark .logo-light {
    display: none;
}

/**
 * ----------------------------------------
 * toggle-dark-mode-style
 * ----------------------------------------
 */

.toggle {
  background-color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  box-shadow: 0 0 50px 20px rgba(0, 0, 0, .1);
  line-height: 1;
}

.input {
  display: none;
}

.icon {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  transition: transform 500ms;
}

.icon--moon {
  transition-delay: 200ms;
}

.icon--sun {
  transform: scale(0);
}

#switch:checked + .icon--moon {
  transform: rotate(360deg) scale(0);
}

#switch:checked ~ .icon--sun {
  transition-delay: 200ms;
  transform: scale(1) rotate(360deg);
}